@import "./variables.scss";
@import "./mixins.scss";
// @import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

:root {
  box-sizing: border-box;
  font-family: Pacifico;
}

*,
::before,
::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar-thumb {
  /* 滚动条的滑块 */
  background-color: #afc2bd;
}

::-webkit-scrollbar {
  /* 纵向滚动条宽度 */
  width: 5px;
  /* 横向滚动条宽度 */
  height: 5px;
}

.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
