@import "./base.css";
@import "./animation.css";
@import "./color.css";
@import "./icon.css";
@import "./dark.css";

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background: 0 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: .0625rem dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -.125rem;
    -webkit-appearance: textfield
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

::-webkit-scrollbar {
    width: .3125rem;
    height: .3125rem;
    background: 0 0
}

::-webkit-scrollbar-track {
    border-radius: .3125rem;
    background: 0 0
}

::-webkit-scrollbar-track-piece {
    background: 0 0
}

::-webkit-scrollbar-button {
    background: 0 0;
    height: 0
}

::-webkit-scrollbar-thumb {
    border-radius: 1.25rem;
    background-clip: padding-box;
    background-color: var(--grey-3);
    background-image: linear-gradient(45deg,var(--grey-1-a5) 25%,transparent 0,transparent 50%,var(--grey-1-a5) 0,var(--grey-1-a5) 75%,transparent 0,transparent)
}

::-moz-selection {
    background: var(--color-orange);
    color: var(--grey-2)
}

::selection {
    background: var(--color-orange);
    color: var(--grey-2)
}

*,:after,:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body,html {
    height: 100%
}

body {
    background: linear-gradient(to top,var(--body-bg-shadow) 0,var(--grey-1) 20%) no-repeat bottom;
    color: var(--text-color);
    font-family: Mulish,-apple-system,"PingFang SC","Microsoft YaHei",sans-serif;
    font-size: 1em;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    overflow: hidden
}

body.loaded #main .wrap {
  animation: slideUpBigIn .5s
}

body.loaded::-webkit-scrollbar {
  width: .5rem;
  height: .5rem
}

body.loaded::-webkit-scrollbar-thumb {
  background-color: var(--color-pink-light)
}

body.loaded {
    overflow: auto
}

@media (max-width: 991px) {
    body {
        padding-left:0!important;
        padding-right: 0!important
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: Mulish,'Noto Serif SC','Noto Serif JP',Mulish,-apple-system,"PingFang SC","Microsoft YaHei",sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin: 1.25rem 0 .9375rem
}

h1.title,h2.title,h3.title,h4.title,h5.title,h6.title {
    font-family: Mulish,'Noto Serif JP','Noto Serif SC',Mulish,-apple-system,"PingFang SC","Microsoft YaHei",sans-serif
}

a {
    border: none;
    color: currentColor;
    outline: 0;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    transition: all .2s ease-in-out 0s;
    cursor: pointer
}

a:hover {
    border-bottom-color: var(--color-blue);
    color: var(--color-blue)
}

a::after,a::before {
    transition: all .4s ease-in-out 0s
}

a,div,li {
    -webkit-tap-highlight-color: transparent
}

li {
    list-style: none
}

iframe,img,video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

hr {
    background-image: repeating-linear-gradient(-45deg,var(--grey-3),var(--grey-4) .25rem,transparent .25rem,transparent .5rem);
    border: none;
    height: .125rem;
    margin: 1.5rem 0
}

blockquote {
    border-left: .25rem solid var(--grey-4);
    color: var(--grey-6);
    margin: 1.25rem 0;
    padding: .625rem 1.25rem
}

blockquote cite::before {
    content: '-';
    padding: 0 .3125rem
}

dt {
    font-weight: 700
}

dd {
    margin: 0;
    padding: 0
}

input,textarea {
    color: var(--text-color)
}

@font-face {
    font-family: ic;
    src: url(//at.alicdn.com/t/font_1832207_igi8uaupcus.eot);
    src: url(//at.alicdn.com/t/font_1832207_igi8uaupcus.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1832207_igi8uaupcus.woff2) format('woff2'),url(//at.alicdn.com/t/font_1832207_igi8uaupcus.woff) format('woff'),url(//at.alicdn.com/t/font_1832207_igi8uaupcus.ttf) format('truetype'),url(//at.alicdn.com/t/font_1832207_igi8uaupcus.svg#ic) format('svg')
}

.ic {
    font-family: ic!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 1.25em;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.ic em {
    font-size: 0
}

.panels {
    padding: 4.6875rem 0 0;
    width: 100%;
    overflow: hidden
}

.panels .inner {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: auto;
    height: 100%
}

.panels .inner::-webkit-scrollbar {
    display: none
}

.index.wrap .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .3rem 1rem;
    border-radius: 0.25rem 0;
    color: var(--grey-0);
    background-image: linear-gradient(to right,var(--color-pink) 0,var(--color-orange) 100%)
}

.index.wrap .btn::before {
    position: absolute;
    display: block;
    content: '';
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    border-radius: 5rem;
    left: .5rem;
    top: .8rem;
    box-shadow: 0 0 .6rem .6rem var(--color-pink-a3);
    background-color: var(--color-pink-a3)
}

.index.wrap .btn:hover::before {
    transform: translateZ(-2.5rem)
}

.index.wrap .active .btn {
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.index.wrap .active .btn::before {
    transform-style: preserve-3d;
    transform: translateZ(-2rem);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.index.wrap .meta {
    font-size: .8125em;
    color: var(--grey-5)
}

.index.wrap .meta .ic {
    margin-right: .0625rem
}

.index.wrap .meta .item+.item {
    margin-left: .625rem
}

.index.wrap .meta.footer {
    position: absolute;
    bottom: .5rem;
    max-width: calc(100% - 7rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start
}

.index.wrap .meta.footer span {
    margin-right: .5rem
}

.tag.cloud a {
    display: inline-block;
    margin: .625rem
}

.tag.cloud a:hover {
    color: var(--primary-color)!important
}

#loading {
    background-color: var(--grey-1)
}


code,pre {
    font-family: Inconsolata,consolas,Menlo,-apple-system,"PingFang SC","Microsoft YaHei";
    font-size: 1em
}

:not(td)>pre {
    background: var(--grey-1);
    border: .0625rem solid var(--grey-3);
    border-radius: .3125rem;
    padding: 1rem;
    margin-bottom: .8rem;
    line-break: anywhere;
    white-space: break-spaces
}

:not(td)>pre code {
    background: 0 0;
    color: currentColor
}

:not(pre)>code {
    color: var(--primary-color);
    border-radius: .3rem;
    border: .0625rem solid rgba(0,0,0,.1);
    background-color: var(--grey-0);
    padding: .2rem .3rem;
    overflow-wrap: break-word;
    word-wrap: break-word
}

::-webkit-details-marker {
    display: none
}

span.label {
    display: inline;
    border-radius: .3rem;
    border: .0625rem solid;
    padding: .2rem .3rem;
    font-family: Inconsolata,consolas,Menlo,-apple-system,"PingFang SC","Microsoft YaHei";
    font-size: 1em;
    background: var(--note-bg,var(--grey-2));
    border-color: var(--note-border,var(--grey-4));
    color: var(--note-text,var(--grey-6))
}