:root {
  --grey-0: #fff;
  --grey-1: #fcfcfc;
  --grey-2: #f7f7f7;
  --grey-3: #f0f3f4;
  --grey-4: #ccc;
  --grey-5: #999;
  --grey-6: #666;
  --grey-7: #333;
  --grey-8: #212121;
  --grey-9: #000;
  --grey-1-a0: #fcfcfc00;
  --grey-1-a7: #fcfcfcb3;
  --grey-1-a5: #fcfcfc80;
  --grey-1-a3: #fcfcfc4d;
  --grey-9-a1: #0000001a;
  --grey-9-a5: #00000080;
  --grey-2-a0: #f7f7f700;
  --color-pink-light: #ffe5fa;
  --color-cyan-light: #e2fdf5;
  --color-red: #e9536a;
  --color-pink: #ed6ea1;
  --color-orange: #ec8c69;
  --color-yellow: #ebb800;
  --color-green: #0a7527;
  --color-aqua: #3d979e;
  --color-blue: #39a2db;
  --color-purple: #9f5b8d;
  --color-grey: #859093;
  --color-red-a1: #e9536a1a;
  --color-red-a3: #e9536a4d;
  --color-pink-a3: #ed6ea14d;
  --color-pink-light-a3: #ffe5fa4d;
  --color-pink-light-a5: #ffe5fa80;
  --color-pink-light-a7: #ffe5fab3;
  --body-bg-shadow: var(--grey-2);
  --box-bg-shadow: var(--grey-9-a1);
  --text-color: var(--grey-7);
  --header-text-color: var(--grey-0);

  --primary-color: var(--color-red);
  --nav-bg: linear-gradient(-225deg, var(--color-cyan-light) 0, var(--color-pink-light) 100%);
  --color-morandi-blue: #3da1ff;
  --color-morandi-purple: #dbd0e6;
  --color-morandi-purple-light: #babbde;
  --color-morandi-purple-dark: #c1a3c8;

  --brand-light: linear-gradient(#8fe3ff, #a29bfe);
  --brand-dark: linear-gradient(#040706, #a29bfe);

  --color-could1: #757cff;
  --color-could2: #666eff;
  --color-could3: #cf9baa;
  --color-could4: #de8293;
  --color-could5: #5c94b2;
  --color-could6: #1b5388;
  --color-could7: #7590b8;
  --color-could8: #d0d9e1;
  --color-could9: #6895b6;
  --color-could10: #dc8fa7;
  --color-could11: #7b9362;
  --color-could12: #3b6f87;
  --color-could13: #b95b6c;
  --color-could14: #dd8892;
  --color-could15: #f38b62;
  --color-could16: #ffa742;
  --color-could17: #5a6187;
  --color-could18: #3e3a64;
  --color-could19: #e15194;
  --color-could20: #5ea3d4;
  --color-could21: #7c94b1;
  --color-could22: #3d729e;
  --color-could23: #da7934;
  --color-could24: #ff9d4d;
  --color-could25: #355b6e;
}

.primary {
    --note-border: #cda0c7;
    --note-bg: #fdf8ff;
    --note-text: #8a51c0;
    --note-hover: #935aca
}

.info {
    --note-border: #8fa4dc;
    --note-bg: #f1f9ff;
    --note-text: #1d4974;
    --note-hover: #1d5fa0
}

.success {
    --note-border: #a3c293;
    --note-bg: #fcfff5;
    --note-text: #2c662d;
    --note-hover: #3b883c
}

.warning {
    --note-border: #c9ba9b;
    --note-bg: #fffbeb;
    --note-text: #947600;
    --note-hover: #ccb045
}

.danger {
    --note-border: #f4b3c1;
    --note-bg: #fff2f5;
    --note-text: #cc0f35;
    --note-hover: #f14668
}

.red {
  color: var(--color-red)
}

.pink {
  color: var(--color-pink)
}

.orange {
  color: var(--color-orange)
}

.yellow {
  color: var(--color-yellow)
}

.green {
  color: var(--color-green)
}

.aqua {
  color: var(--color-aqua)
}

.blue {
  color: var(--color-blue)
}

.purple {
  color: var(--color-purple)
}

.grey {
  color: var(--color-grey)
}